@import url(../../color.css);
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

.navigator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.headIcon {
  display: flex;
  align-items: center;
  margin: 15px;
  cursor: pointer;
}
.headIcon .title {
  margin-left: 10px;
  font-size: 20px;
}
.searchBox {
  width: 600px;
  height: 40px;
  font-size: 16px;
  color: #3f3212;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  text-indent: 10px;
  outline-style: none;
  background-color: var(--grey);
  font-family: "Orbitron", sans-serif;
}
.buttonGroup {
  display: flex;
  height: 100%;
}
.naviButton {
  display: flex;
  margin-right: 2vw;
  height: 40px;
  width: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  background-color: var(--grey);
  .button-icon {
    font-size: 26px;
    margin-right: 10px;
  }
}

.extend {
  width: 140px;
}

.naviButton:hover {
  background-color: var(--darker-grey);
}
.searchBox:hover {
  background-color: var(--darker-grey);
}
.title {
  font-family: "Orbitron", sans-serif;
}
