@import "../../color.css";
.ant-menu{
  font-size:16px !important;
  font-weight: bold;
  font-family: Microsoft YaHei, sans-serif
}
.content-container {
  width: 80%;
  height:100vh;
  margin-left: auto;
  margin-right: auto;
}
