@import url(../../color.css);
.accountContainer{
    width: 100%;
    height:96%;
    display: flex;
    margin-top:3%;
    margin-bottom:3%;
    .accountLeft{
        width:30%;
        height: 100%;
        background-color: white;
        .leftContent{
            width:80%;
            height:40%;
            margin-left: auto;
            margin-right: auto;
            margin-top:20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .avtar{
                width:74.4%;
                img{
                    width: 100%;
                    height: 100%;;
                }
            }
            .sig{
                width:74.4%;
                height:20%;
                background-color: rgb(220, 239, 245);
                border-radius: 5px;
            }
        }
    }
    .accountRight{
        width:70%;
        height:100%;
        background-color: var(--darker-grey);
        .rightContent{
            width: 90%;
            height:100%;
            margin-right:auto;
            margin-left:auto;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding-bottom:20px;
            padding-top:10px;
            .rightBox{
                width: 100%;
                .rightBoxTitle{
                    width:100%;
                    margin-right:auto;
                    margin-left:auto;
                    color:var(--blue);
                    font-size: 20px;
                    font-weight: bold;
                    border-bottom: 1px solid var(--blue);
                    span{
                        font-size:16px;
                        cursor: pointer;
                        float:right;
                        position: relative;
                        top:5px
                    }
                    span:hover{
                        color:darkblue;
                        text-shadow: 2px 2px 2px rgb(66, 159, 190);
                    }
                }
                .rightContentBox{
                    height: calc(100% - 33px);
                    background-color: rgba(250, 251, 253, 0.454);
                    .formContent{
                        margin:0;
                        height:100%;
                        width:100%;
                        display: grid;
                        grid-template-columns: 45% 45%;
                        padding-top:20px;
                        grid-template-rows: 25% 25% 25%;
                        .inputBox{
                            width:200px;
                            font-size:16px;
                            background-color: transparent;
                            border: none;
                        }
                    }
                    .levelContent{
                        margin-left:5%;
                        padding-top:10px;
                        span{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}