@import url("../../color.css");
.forumHeadPic {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* overflow-y: hidden; */
    /* background-color: var(--darker-grey); */
}
.forumHeadNavi {
    height: 100px;
    background-color: white;
}
